<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="ROBOTS" content="NOODP" />
  <meta name="viewport" content="initial-scale=1" />
  <%#
    Configure default and controller-, and view-specific titles in
    config/locales/en.yml. For more see:
    https://github.com/calebthompson/title#usage
  %>
  <title><%= title %></title>
  <script src="https://use.fontawesome.com/b0881aff98.js"></script>
  <%= stylesheet_link_tag :application, media: "all" %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= body_class %>">
  <%= render "flashes" -%>
  <%= yield %>
  <%= render "javascript" %>
  <%= render "css_overrides" %>
  <footer>
    <div class="wrap">

      <div class="socialBar">
        <div class="newsletterSignup">
          <input type="text" name="email" value="Sign up for Updates...">
        </div>
        <nav>
          <a href="#"> <i class="fa fa-facebook"></i></a>
          <a href="#"> <i class="fa fa-twitter"></i></a>
          <a href="#"> <i class="fa fa-linkedin"></i></a>
          <a href="#"> <i class="fa fa-vimeo"></i></a>
        </nav>
        <div class="search">
          <p>
            Search
            <i class="fa fa-search"></i>
          </p>
        </div>

      </div>
      <div class="infoLinks">
        <a href="#">Who We Are</a>
        <a href="#">What We Do</a>
        <a href="#">Get Started</a>
        <a href="#">Contribute</a>
        <a href="#">Contact Us</a>
      </div>
      <div class="footerLeft">
        <h3>Projects</h3>
        <a href="#">Project Name</a>
        <a href="#">Project Name</a>
        <a href="#">Project Name</a>
        <a href="#">Project Name</a>
        <a href="#">Project Name</a>
        <a href="#">Project Name</a>
        <a href="#">Project Name</a>
        <a href="#">Project Name</a>
        <a href="#">Project Name</a>
        <a href="#">Project Name</a>
        <a href="#">Project Name</a>
      </div>
      <div class="footerRight">
        <h3>Related Programs</h3>
        <a href="#">Project Name</a>
        <a href="#">Project Name</a>
        <a href="#">Project Name</a>
        <a href="#">Project Name</a>
        <a href="#">Project Name</a>
      </div>
      <div class="copyright">
        <p>
          copyright
        </p>
      </div>
    </div>
  </footer>
</body>
</html>
